@media (max-width: 1023px) {
    .nav-hide {
        display: none;
    }
}

@media (min-width: 1024px) {
    .nav-block {
        text-align: center;
        display: inline-block;
        cursor: pointer;
    }
}

.text-underline-f {
    &:focus{
        transform: scaleX(1);
        border-bottom: solid 2px #2D3748;
        text-decoration: none !important;
    }
}

.text-underline-f-m {
    &:focus{
        border-bottom: solid 3px #2D3748;
        text-decoration: none !important;
    }
}

.text-underline-h {
    &:hover{
        transform: scaleX(1);
        border-bottom: solid 2px #2D3748;
        text-decoration: none !important;
    }
}

.text-underline-a {
    &:active{
        transform: scaleX(1);
        border-bottom: solid 2px #2D3748;
    }
}