@media (max-width: 1023px) {
    .nav-hide {
        display: none;
    }
}

@media (min-width: 1024px) {
    .nav-block {
        text-align: center;
        display: inline-block;
        cursor: pointer;
    }
}

.text-underline {
    &:hover, &:focus{
        transform: scaleX(1);
        border-bottom: solid 2px #2D3748;
    }
}
