
.reviewsPanel {
  padding: 15px 10px;
  line-height: 1.3;
  
  .reviewBtn {
    margin-top: 15px;
    margin-bottom: 25px;
    font-size: 16px;
  }

  .ratingQuestion {
    font-size: 17px;
  }

  .reviewsListText {
    font-size: 16px;
  }

  .reviewersName {
    margin-top: 20px;
    font-size: 16px;
  }
  
}



//   .productOverivew {
//     display: grid;
//     grid-template-columns: 106px 2fr;
//     margin-top: 22px;
//   }

//   .nameAndStars {
//     .productName{
//       font-weight: bold;
//     }

//     .productDesigner {
//       color: #97A5BA;
//       font-weight: normal;
//     }

//     .rateMsg {
//       color: #97A5BA;
//     }
//   }

//   .reviewTextStyle {
//     color: #31333E;
//     font-weight: normal;
//   }
// }