.u-text-xxs {
    font-size: $font-size-xxs !important;
}

.u-text-xs {
    font-size: $font-size-xs !important;
}

.u-text-s {
  font-size: $font-size-s !important;
}

.u-text-m {
    font-size: $font-size-m !important;
}

.u-text-l {
  font-size: $font-size-l !important;
}

.u-text-xl {
  font-size: $font-size-xl !important;
}
.u-text-xxl {
  font-size: $font-size-xxl !important;
}

.u-text-normal {
  font-weight: $font-weight-base !important;
}

.u-text-strong {
  font-weight: $font-weight-bold !important;
}

.u-line-height-reset {
  line-height: 1 !important;
}

.u-text-center {
  text-align: center !important;
}

.u-line-height-fix-tiny {
  margin-top: 6px !important;
}

.u-icon-line-height {
  line-height: 0 !important;
}

.u-text-nowrap {
  white-space: nowrap;
}

.u-text-one-liner {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.u-text-uppercase {
  text-transform: uppercase;
}