$color-layout-universe-base: $color-palette-gray-700 !default;
$color-layout-universe-gradation: $color-palette-gray-500 !default;
$color-layout-universe-pastel: $color-palette-gray-300 !default;
$color-layout-universe-inverse: $color-palette-white !default;

.t-universe {
  background-color: $color-layout-universe-base;
  color: $color-layout-universe-gradation;
}