// @name Backgrounds

.u-background-color-ghost {
  background-color: $color-palette-white;
}

.u-background-color-dark {
  background-color: $color-palette-gray-900;
}

.u-background-color-primary {
  background-color: $color-brand-primary-base;
}

.u-background-color-secondary {
  background-color: $color-brand-secondary-base;
}

.u-background-color-danger {
  background-color: $color-semantic-danger-base;
}

.u-background-color-success {
  background-color: $color-semantic-success-base;
}