@import '../../../../scss/01-settings/_settings.breakpoint.scss';

@media (max-width: $layout-breakpoint-m) {
  .smallScreen {
    display: block;
  }

  .largeScreen {
    display: none;
  }
}

@media (min-width: $layout-breakpoint-m) {
  .smallScreen {
    display: none;
  }

  .largeScreen {
    display: block;
  }
}
