.filterItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;

  &:hover {
    background-color: #f9f9f9;
    border-radius: 5px;
    margin: 0 -16px;
    padding: 0 16px;
  }

  &.filterItemSelected {
    color: #FFCE18;
  }

  .tickSelected {
    font-size: 12px;
    fill: currentColor;
  }
}