.t-text-quiet {
  color: $color-palette-gray-base !important;
}

.t-text-ghost {
  color: $color-palette-unique-white !important;
}

.t-text-danger {
  color: $color-semantic-danger-base !important;
}

.t-text-uniform {
  color: $font-color-primary !important;
}

.t-text-focus {
  color: $color-brand-secondary-base !important;
}

.t-text-spotlight {
  color: $color-brand-primary-base !important;
}