// Config
$theme-ghost-main-color: $color-palette-unique-white !default;

// Ghost Theme
// @group Themes
.t-ghost {
  background-color: $theme-ghost-main-color;
}

.t-ghost-border {
  border-color: $theme-ghost-main-color;
}