// Config
$theme-quietlight-background-color: $color-palette-gray-lighter !default;
$theme-quietlight-input-border-color: $color-palette-gray-base !default;
$theme-quietlight-input-placeholder-color: $color-palette-gray-base !default;
$theme-quietlight-input-focus-border-color: $color-palette-gray-dark !default;

// Theme
.t-quietlight {
  background: $theme-quietlight-background-color;
}
.t-quietlight__input {
  border-color: $theme-quietlight-input-border-color;

  @include placeholder() {
    color: $theme-quietlight-input-placeholder-color;
  }

  &:focus {
    border-color: $theme-quietlight-input-focus-border-color;
  }
}