.loginMobile {
    display: none;
}

.loginBorder {
    margin-left: 0px !important;
}

.loginTitleDesktop {
    display: inherit;
    font-size: 27px;
    font-weight: bold;
    text-align: center;
}

@media (max-width: 766px) {
    .loginMobile {
        display: inherit;
    }
    .loginTitleDesktop {
        display: none;
    }
}