.registerTitleDesktop {
    font-size: 27px;
    font-weight: bold;
    text-align: center;
    display: inherit;
}
.registerMobile {
    display: none;
}

.registerMaxWidth {
    max-width: 620px !important;
}

@media (max-width: 766px) {
    .registerMobile {
        display: inherit;
    }
    .registerTitleDesktop {
        display: none;
    }
}