// Config

// Product
/// @group Components
.o-product__header {
  align-items: flex-start;
  display: grid;
  grid-gap: $layout-gutter-width;
  grid-template-columns: 1fr auto max-content;
  width: 100%;

  .o-product__header__large-column {
    grid-column: auto / span 2;
  }

  .o-product__header__offset {
    text-align: right;
  }
}

.o-product__details {
  display: grid;
  row-gap: $spacing-stack-m;

  @include breakpoint($layout-breakpoint-l) {
    grid-template-columns: 1fr 1fr;
  }

  &__offset {
    @include breakpoint($layout-breakpoint-l) {
      flex: end;
    }
  }
}

.o-product__body {
  display: flex;
  flex-direction: column;
  grid-column: auto / span 2;
  justify-content: space-between;
}