// @object Popup
.o-popup {
  bottom: $spacing-inset-m;
  left: 50%;
  max-height: calc(100vh - #{$spacing-inset-m});
  overflow: auto;
  position: fixed;
  transform: translate(-50%, 120%);
  width: calc(100% - #{$spacing-inset-m} * 2);
  @include transition();
  will-change: transform;

  @include breakpoint($layout-breakpoint-l) {
    width: 65%;
  }
  @include breakpoint($layout-breakpoint-xl) {
    width: 50%;
  }

  &.is-active {
    transform: translate(-50%, 0);
    
    @include breakpoint($layout-breakpoint-xl) {
        bottom: auto;
        top: 50%;
        transform: translate(-50%, -50%);
    }
  }
}

// @object Popup Header
.o-popup__header {
  margin-left: -$spacing-inset-m;
  margin-right: -$spacing-inset-m;
  margin-top: -$spacing-inset-m;
  border-radius: $border-radius-base $border-radius-base 0 0;
}

// @object Popup Outbound
.o-popup__outbound {
  margin-left: -$spacing-inset-m;
  margin-right: -$spacing-inset-m;
  margin-top: -$spacing-inset-m;
}