/* ==========================================================================
   # GRID
========================================================================== */

.o-grid {
    display: grid;
    column-gap: $layout-gutter-width;
    max-width: $layout-wrapper-width;
    margin-left: auto;
    margin-right: auto;
    padding-left: $layout-edge-width;
    padding-right: $layout-edge-width;
    grid-template-columns: [content-start] repeat(12, minmax(0, 1fr)) [content-end];

    &.o-grid--debug > *:nth-child(odd) {
        background-color: rgba(203, 0, 114, 0.65);
    }
    &.o-grid--debug > *:nth-child(even) {
        background-color: rgba(95, 31, 156, 0.65);
    }
    &.o-grid--debug .full {
    }

    .o-grid {
        margin: 0 auto;
        padding-left: 0;
        padding-right: 0;
        width: 100%;
    }
}

// before:
// Config

// Object
.o-container {
    margin-left: auto;
    margin-right: auto;
    max-width: $layout-wrapper-width;
    width: 100%;
}

.o-container-medium {
    margin-left: auto;
    margin-right: auto;
    max-width: $layout-wrapper-width-medium;
    width: 100%;
}

.o-container-small {
    margin-left: auto;
    margin-right: auto;
    max-width: $layout-wrapper-width-small;
    width: 100%;
}

.o-center {
    justify-content: center;
    text-align: center;
}

.o-box-center {
    justify-content: center;
}

.o-prevent-space {
    padding-left: $layout-edge-width;
    padding-right: $layout-edge-width;

    // @media (min-width: $layout-breakpoint-xl) {
    //   padding-left: 0;
    //   padding-right: 0;
    // }
}

//.o-grid {
//  display: grid;
//  grid-template-columns: 1fr;
//  grid-gap: $layout-gutter-width;
//}

.o-grid--side-by-side {
    grid-template-columns: 1fr auto;
}

.o-grid--third {
  grid-template-columns: 1fr 1fr 1fr;
}

.o-grid--half {
    grid-template-columns: 1fr 1fr;
}

.o-grid--small-half {
    @media (min-width: $layout-breakpoint-s) {
        grid-template-columns: 1fr 1fr;
    }
}

.o-grid--medium-half {
    grid-template-columns: 1fr;

    @media (min-width: $layout-breakpoint-m) {
        grid-template-columns: 1fr 1fr;
    }
}

.o-grid--medium-third {
    grid-template-columns: 1fr;

    @media (min-width: $layout-breakpoint-s) {
        grid-template-columns: 1fr 1fr;
    }

    @media (min-width: $layout-breakpoint-m) {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.o-grid--medium-forth {
    grid-template-columns: 1fr;

    @media (min-width: $layout-breakpoint-m) {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

.o-grid--large-half {
    grid-template-columns: 1fr;

    @media (min-width: $layout-breakpoint-l) {
        grid-template-columns: 1fr 1fr;
    }
}

.o-grid--large-third {
    @media (min-width: $layout-breakpoint-l) {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.o-grid--large-forth {
    @media (min-width: $layout-breakpoint-l) {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

.o-image-center {
    margin-left: auto;
    margin-right: auto;
}

.o-stacked {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    &__item {
        margin-left: -$spacing-inline-s;

        &:first-child {
            margin-left: 0;
        }
    }
}