// Config
$swiper-column-width: 8px;

.o-swiper {
  overflow: hidden;
  //scroll-snap-type: x proximity;
}

.o-swiper__holder {
  display: grid;
  grid-auto-flow: column;
  grid-gap: $spacing-inline-m;
  //grid-gap: $spacing-inset-m;

  //display: grid;
  //grid-column-gap: $spacing-inset-m;
  //grid-template-columns: $swiper-column-width;
  //grid-auto-flow: column;
  //grid-auto-columns: calc(50% - var(--gutter) * 2);
  //margin-left: -($swiper-column-width + $spacing-inset-m);
  //margin-right: -($swiper-column-width + $spacing-inset-m);
  //padding-left: $spacing-inset-m;

  &:before,
  &:after {
    content: '';
    width: $swiper-column-width;
  }
}

.o-swiper__item {
  position: relative;
  scroll-snap-align: start;
}

.o-swiper__image {
  max-width: none;
}

.o-swiper::-webkit-scrollbar {
    display: none;
}
