.o-with-sidebar {
    @include breakpoint($layout-breakpoint-l) {
        display: grid;
        grid-column-gap: 24px;
        grid-template-columns: 1fr 340px;
    }

    &__sidebar {
        align-self: baseline;
        margin-top: $spacing-stack-l;

        @include breakpoint($layout-breakpoint-l) {
            margin-top: 0;
        }

        &.is-sticky {
            @include breakpoint($layout-breakpoint-l) {
                position: sticky;
                top: $spacing-stack-l;
            }
        }
    }
}