// Config
$layout-edge-width-total: $layout-edge-width * 2;
$header-height: 60px !default;

// Object
.o-header {
  display: flex;
  flex-direction: column;
  // height: $header-height;
  justify-content: center;
  margin-left: -$layout-edge-width;
  padding-left: $layout-edge-width;
  padding-right: $layout-edge-width;
  width: calc(100% + #{$layout-edge-width-total});

  &__top-left {
    display: none;

    @include breakpoint($layout-breakpoint-l) {
      display: block;
    }
  }

  &__user-navigation {
    @include list-reset();
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-left: -$spacing-inline-xs;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);

    @include breakpoint($layout-breakpoint-l) {
        padding-left: $spacing-inline-l;
        // position: static;
        top: 0;
        transform: translate(0);
    }

    &__item {
      padding-left: $spacing-inline-xs;

      @include breakpoint($layout-breakpoint-l) {
        padding-left: $spacing-inline-l;
      }
    }
    
    &__icon {
      height: 20px;
      width: 20px;

      @include breakpoint($layout-breakpoint-l) {
        height: 24px;
        width: 24px;
      }
    }
  }

  &__top {
    align-items: center;
    display: flex;
    flex-direction: row;
    position: relative;

    @include breakpoint($layout-breakpoint-l) {
      justify-content: space-between;
      padding-top: 24px;
      // position: static;
    }
  }

  &__navigation {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: $spacing-stack-m;

    @include breakpoint($layout-breakpoint-l) {
      justify-content: center;
      margin-top: $spacing-stack-l;
    }
  }
}