// Config

// Object
.o-footer {
  margin-bottom: $spacing-inset-m;
  margin-left: $spacing-inset-m;
  margin-right: $spacing-inset-m;
  margin-top: $spacing-stack-l;
  
  &__top {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: -$spacing-inline-m;

    @include breakpoint($layout-breakpoint-xl) {
      justify-content: space-between;
    }
  }
  &__top__item {
    margin-left: $spacing-inline-m;
    margin-top: $spacing-stack-m;
  }
  &__bottom {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: $spacing-stack-xl;

    @include breakpoint($layout-breakpoint-s) {
      align-items: flex-start;
      flex-direction: row;
      justify-content: space-between;
    }
  }
}