/// @object Block Short
.o-block-short {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  text-align: left;
}
.o-block-short__short-item {
  flex: 0 0 auto;
  margin-right: $spacing-inline-s;
  line-height: 0;
}
.o-block-short__body {
  
}

/// @object Block Short
/// @variation Centered
.o-block-short--centered {
  align-items: center;
}