// Config

// Object
.o-header {
  display: flex;
  flex-direction: column;
  height: 60px;
  justify-content: center;
  padding-left: $layout-edge-width;
  padding-right: $layout-edge-width;

  &__top-left {
    display: none;

    @media (min-width: $layout-breakpoint-l) {
      display: block;
    }
  }

  &__top-right {
    .my-profile--desktop {
      display: none;
    }

    @media (min-width: $layout-breakpoint-l) {
      .my-profile--desktop {
        display: block;
      }
    }
  }

  &__top {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .o-list-inline:last-child {
      margin-left: auto;

      @media (min-width: $layout-breakpoint-l) {
        margin-left: initial;
      }
    }
  }

  &__navigation {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: $spacing-stack-m;

    @media (min-width: $layout-breakpoint-l) {
      justify-content: center;
      margin-top: $spacing-stack-l;
    }
  }
}