/// Config

/// @object Media Block
/// @group Objects
.o-media-block {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: $layout-gutter-width;

  .o-media-block__asset {
    grid-column: auto / span 5;

    @media (min-width: $layout-breakpoint-m) {
      grid-column: auto / span 2;
    }
  }
  .o-media-block__body {
    grid-column: auto / span 5;

    @media (min-width: $layout-breakpoint-m) {
      grid-column: auto / span 3;
    }
  }
}

// @object Media Block Row
// Always elements are in a row
/// @group Objects
.o-media-block--row {
  .o-media-block__asset {  
    grid-column: auto / span 2;
  }
  .o-media-block__body {
    grid-column: auto / span 3;
  }
}

// @object Media Block Half
// Half columns for items
.o-media-block--half {
  @media (min-width: $layout-breakpoint-m) {
    grid-template-columns: repeat(12, 1fr);
  }
  
  .o-media-block__asset {
    @media (min-width: $layout-breakpoint-m) {
      grid-column: 1 / span 5;
    }
  }

  .o-media-block__body {
    @media (min-width: $layout-breakpoint-m) {
      grid-column: 7 / span 6;
    }
  }
}