// Config
$television-prevent-space: $spacing-inset-m !default;
$television-boundless-space: $television-prevent-space * 2 !default;

// @object television
.o-television {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
  overflow: hidden;
}

.o-television__bar {
  width: 100%;
}

.o-television__remote-control {
  flex-shrink: 0;
  grid-row: 3;
  padding: $spacing-inset-s $television-prevent-space;
}

.o-television__display {
  grid-row: 2;
  overflow: auto;

  &__wrapper {
      padding: $spacing-inset-m $television-prevent-space 0;
  }

  &__header {
    margin-top: -$television-prevent-space;
    position: sticky;
    top: -$television-prevent-space;
    z-index: 100;
  }
}
.o-television__display__boundless {
  margin-left: -$television-prevent-space;
  width: calc(100% + #{$television-boundless-space});
}