.o-list-bare {
  @include list-reset();

  &__item {
    margin-top: $spacing-stack-s;

    &:first-child {
      margin-top: 0;
    }
  }
}

.o-list-bare--tighty {
  .o-list-bare__item {
    margin-top: $spacing-stack-xs;

    &:first-child {
      margin-top: 0;
    }
  }
}