.o-buttonbar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: - $spacing-inline-m;
  margin-top: - $spacing-stack-m;

  &__item {
    margin-left: $spacing-inline-m;
    margin-top: $spacing-stack-m;

    &--full {
      flex: 1;
    }
    &--content-full {
      flex-basis: 0;
      flex-grow: 0;
    }
  }
}

.o-buttonbar--stacked {
  align-items: center;
  flex-direction: column;
  margin-left: 0;
  text-align: center;

  .o-buttonbar__item {
    margin-left: 0;
    width: 100%;
  }
}

.o-buttonbar--spread {
  align-items: center;
  justify-content: space-between;
}