// Config
$television-prevent-space: $spacing-inset-m !default;

// @object television
.o-television {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
  overflow: hidden;
}

// The top of the television like an header
.o-television__bar {
  width: 100%;
}

// Main CTA for this view. Always visible.
.o-television__remote-control {
  flex-shrink: 0;
  grid-row: 3;
  padding: $spacing-inset-s $television-prevent-space;
}

// Main Area to display the content
.o-television__display {
  grid-row: 2;
  overflow: auto;
  padding: $spacing-inset-m $spacing-inset-m 0;

  &__wrapper {
      padding: $spacing-inset-m $television-prevent-space 0;
  }

  &__header {
    margin-top: -$television-prevent-space;
    position: sticky;
    top: -$television-prevent-space;
    z-index: 100;
  }
}

// Bouncer as an indicator to signal the end of the container
.o-television__bouncer {
  margin-left: -$television-prevent-space;
  min-height: 100px;
  width: calc(100% + #{$television-prevent-space});
}

// Move elements to the left and right edges of the television container
.o-television__display__boundless {
  margin-left: -$television-prevent-space;
  width: calc(100% + #{$television-prevent-space});
}