// Config
$head-up-spacing-inner: $spacing-inset-m !default;

// Object
.o-head-up {
  display: block;
  overflow: hidden;
  position: relative;

  &__item {
    position: absolute;
    z-index: 1;
  }
  &__item--top-left {
    left: 0;
    padding-left: $head-up-spacing-inner;
    padding-top: $head-up-spacing-inner;
    top: 0;
  }
  &__item--top-right {
    padding-right: $head-up-spacing-inner;
    padding-top: $head-up-spacing-inner;
    right: 0;
    top: 0;
  }
  &__item--middle-right {
    padding-right: $head-up-spacing-inner;
    top: 50%;
    transform: translateY(-50%);
  }
  &__item--middle-bottom {
    bottom: 0;
    left: 50%;
    padding-bottom: $head-up-spacing-inner;
    transform: translateX(-50%);
  }
  &__item--bottom-left {
    bottom: 0;
    left: 0;
    padding-bottom: $head-up-spacing-inner;
    padding-left: $head-up-spacing-inner;
  }
  &__item--bottom-right {
    bottom: 0;
    padding-bottom: $head-up-spacing-inner;
    padding-right: $head-up-spacing-inner;
    right: 0;
  }
  &__item--middle {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}