h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: $font-weight-bold;
  line-height: $font-line-height-base;
}

h1 {
  font-size: $font-size-alpha;

  @media (min-width: $layout-breakpoint-l) {
    font-size: $font-size-xxl;
  }
}

h2 {
  font-size: $font-size-beta;

  @media (min-width: $layout-breakpoint-l) {
    font-size: $font-size-xl;
  }
}

h3 {
  font-size: $font-size-gamma;

  @media (min-width: $layout-breakpoint-l) {
    font-size: $font-size-l;
  }
}

h4,
h5,
h6 {
  font-size: $font-size-delta;
}