input,
textarea,
select {
  display: block;
  margin: 0;
  padding: $spacing-stretch-inset-s;
  width: 100%;
  border: $border-size-base solid $border-color-base;
  border-radius: $border-radius-base;
  background-color: $form-input-color-background;
  color: $font-color-primary;
  font-family: $font-family-base;
  font-size: $font-size-base;
  line-height: 1;
  transition: all .3s cubic-bezier(.64,0,.35,1);

  &:hover {}

  &:focus {
    outline: transparent;
    border-color: $border-color-focus;
  }

  &:disabled {
    cursor: not-allowed;
    color: $form-input-color-disabled;
  }
}

input[type="color"] {
  padding: 0;
}

textarea {
  resize: none;
}

fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

select {
    cursor: pointer;

    padding: $spacing-inset-s $spacing-inset-xl $spacing-inset-s $spacing-inset-m;
    width: auto;
    background-image: url(../../icons/arrow-expand.svg);
    background-repeat: no-repeat;
    background-position: right $spacing-inset-m top 50%;
    background-size: 16px auto;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;

    &::-ms-expand {
        display: none;
    }
}

legend {
  font-weight: $form-legend-weight;
}

label {
  cursor: pointer;
  display: block;
}