blockquote {
  margin: 0;
  font-size: $font-size-l;
  font-family: $font-family-spot;
  font-style: italic;
  font-weight: $font-weight-bold;

  @media (min-width: $layout-breakpoint-l) {
    font-size: $font-size-xl;
  }
}

cite {
  margin-left: 16px + $spacing-inline-s;
  padding-left: $spacing-inline-s;
  position: relative;
  color: get-color(gray);
  font-family: $font-family-base;
  font-size: $font-size-m;
  font-style: normal;
  font-weight: normal;

  &:before {
    content: '';
    height: 3px;
    position: absolute;
    right: 100%;
    top: 50%;
    width: 16px;
    background: get-color-layout(spot);
    transform: translateY(-50%);
  }
}

p {
  margin: 0;
  line-height: $font-line-height-base;
}