/* ==========================================================================
   #PAGE
========================================================================== */

*, *::after, *.before {
    font-family: inherit;
    line-height: inherit;
    color: inherit;
}

:root {
    height: 100%;
    font-family: $ff-base;
    line-height: $lh-default;
    font-weight: $fw-normal;

    @apply bg-background-primary base-font-size font-color
}
