.productInfo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: min-content;

  .saleBadge {
    grid-column: 2/3;
    grid-row: 1/2;
  }

  .ratingBadge {
    grid-column: 1/2;
    grid-row: 3/4;
  }

  .inline {
    display: flex;
  }
}

.rightAlign {
  justify-self: end;
}

.leftAlign {
  justify-self: start;
}

@media (min-width: 600px) {
  .productInfoRight {
    display: grid;
  }

  .productInfoRightBottom {
    display: grid;
    align-self: end;
  }

  .productInfo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content;

    .saleBadge {
      grid-column: 2/3;
      grid-row: 1/2;
    }

    .ratingBadge {
      grid-column: 2/3;
      grid-row: 2/3;
    }

    .inline {
      display: block;
    }

    .rightAlign {
      justify-self: end;
    }

    .leftAlign {

    }
  }

}
