@media (max-width: 599px) {
    .TopCatNav {
        display: none;
    }
}

@media (min-width: 600px) {
    .TopCatNav {
        font-family: inherit;
        text-align: center;
        display: inline-block;
        cursor: pointer;
    }
}

