.c-footer {
    padding: $spacing-inset-m;
    border-radius: $border-radius-base;
    text-align: center;

    @include breakpoint($layout-breakpoint-m) {
        padding: $spacing-inset-l;
        text-align: left;
    }

    a {
        text-decoration: none;
    }
}

.c-footer__body {
    margin-top: $spacing-stack-l;
    padding-top: $spacing-inset-l;
    border-top: $border-size-base solid rgba($border-color-base, 0.3);
}

.c-footer__section {
    padding-top: $spacing-stack-m;
    border-top: $border-size-base solid rgba($border-color-base, 0.3);

    @include breakpoint($layout-breakpoint-m) {
        padding-top: 0;
        border-top: 0;
    }
}

.c-page-footer {
    padding-bottom: 16px;
    strong {
        color: white;
    }
    a {
        text-decoration: none;
    }
    // NOTE: 12px couldn't be done with the regular distances.
    // Also, it's nested here to overwrite the default of the
    // o-distance-m class, which may or maynot be used later
    .c-page-footer__contact-email {
        margin-top: 12px;
    }
}
.c-page-footer__phone-icon {
    font-size: 22px;
    margin-right: 9px;
    path {
        fill: rgba(255, 255, 255, 0.8);
    }
}

.c-page-footer__payment-methods {
    font-size: 38px;

    rect {
        fill: white;
    }
    path,
    circle {
        fill: #31333e;
    }
}
