// Config

// Component
// @group Navigations
.c-navigation {
    @include list-reset();
    background: $color-palette-white;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0px;
    transform: translateX(-100%);
    transition: (transform 0.3s, box-shadow 0.3s);
    width: 100%;
    z-index: $index-layer-navigation;

    @include breakpoint($layout-breakpoint-l) {
      display: flex;
        height: auto;
        padding: 0;
        position: relative;
        top: 0;
        width: auto;
        background: transparent;
        box-shadow: none;
        transform: none;
    }

    &.is-active {
        @include box-shadow();
        transform: translateX(0);
    }

    &__anchor {
      text-decoration: none;
    }

    &__item {
        border-top: 1px solid $border-color-base;
        font-family: $font-family-spot;
        font-size: $font-size-base;
        margin-top: $spacing-stack-s;
        padding-top: $spacing-stack-s;

        @include breakpoint($layout-breakpoint-l) {
            border-top: 0;
            font-size: $font-size-m;
            margin-left: $spacing-inline-l;
            margin-top: 0;
            padding-top: 0;
        }

        &:hover {
            .c-navigation__megamenu {
                display: block;
            }
        }

        &:first-child {
            border-top: 0;
            margin-top: 0;
            padding-top: 0;

            @include breakpoint($layout-breakpoint-l) {
                margin-left: 0;
            }
        }

        &.is-active {
            transform: translateX(0);
        }
    }

    &__megamenu {
        @include box-shadow();
        background: $color-palette-white;
        border-radius: $border-radius-base;
        display: none;
        font-size: $font-size-base;
        height: 100%;
        left: 0;
        overflow: hidden;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: $index-layer-navigation-megamenu;

        @include breakpoint($layout-breakpoint-l) {
            height: auto;
            left: auto;
            margin-top: $spacing-stack-m;
            max-width: 760px;
            overflow: visible;
            right: 0;
            top: 100%;
        }

        &:before {
            content: '';

            @include breakpoint($layout-breakpoint-l) {
                border-bottom: 8px solid $color-palette-white;
                border-left: 8px solid transparent;
                border-right: 8px solid transparent;
                left: 16px;
                position: absolute;
                top: -8px;
            }
        }

        &:after {
            content: '';

            @include breakpoint($layout-breakpoint-l) {
                background: transparent;
                height: $spacing-stack-m;
                left: 0;
                position: absolute;
                top: -$spacing-stack-m;
                width: 100%;
            }
        }

        .c-navigation__item {
            @include breakpoint($layout-breakpoint-l) {
                font-size: $font-size-s;
                margin-left: 0;
                margin-top: $spacing-stack-s;
            }

            &:first-child {
                @include breakpoint($layout-breakpoint-l) {
                    margin-top: 0;
                }
            }
        }

        .c-navigation__list {
            @include breakpoint($layout-breakpoint-l) {
                flex: 0 0 50%;
                padding-left: $spacing-inline-m;
            }

            &:first-child {
                padding-left: 0;
            }
        }
    }

    &__list {
        @include list-reset();

        + .c-navigation__list {
            border-top: 1px solid $border-color-base;
            padding-bottom: $spacing-inset-s;
            padding-top: $spacing-inset-s;

            @include breakpoint($layout-breakpoint-l) {
                border-top: 0;
                padding-bottom: 0;
                padding-top: 0;
            }
        }
    }

    &__body {
        @include list-reset();
        display: flex;
        flex-direction: column;
        height: 100%;
        overflow: auto;
        position: relative;

        @include breakpoint($layout-breakpoint-l) {
            flex-direction: row;
            margin-top: 0;
            overflow: visible;
            padding: 0;
        }
    }

    &__close {
        position: absolute;
        right: $spacing-inset-xs;
        top: $spacing-inset-xs;

        @include breakpoint($layout-breakpoint-l) {
            display: none;
        }
    }

    &__header {
        background: $color-brand-primary-base;
        color: $color-brand-primary-light;
        display: flex;
        flex-direction: row-base;
        font-family: $font-family-spot;
        font-size: 1.8rem;
        font-weight: $font-weight-bold;
        height: 60px;
        justify-content: space-between;
        padding: $spacing-inset-m;
        text-transform: uppercase;

        @include breakpoint($layout-breakpoint-l) {
            display: none;
        }

        .c-service-navigation__item.is-active {
            border-color: $color-brand-primary-base;
        }
    }

    &__anchor {
        color: $font-color-primary;
        display: block;
        text-decoration: none;

        &:hover {
            color: $color-brand-primary-base;
        }

        &.is-active {
            color: $color-brand-primary-base;
            font-weight: $font-weight-bold;
        }
    }
}

// Service Navigation
// @group Navigations
.c-service-navigation {
    @include list-reset();
    align-items: center;
    display: flex;
    flex-direction: row-base;
    font-family: $font-family-spot;
    font-size: $font-size-m;
    text-transform: uppercase;

    &__anchor {
        border: $border-size-base solid transparent;
        color: $color-brand-primary-base;
        font-weight: $font-weight-bold;
        padding: $spacing-inset-xxs $spacing-inset-xs;
        border-radius: $border-radius-base;
        text-decoration: none;

        &:hover,
        &.is-active {
            border-color: $border-color-base;
        }
    }
}

/// Content Navigation
/// @group Navigations
.c-content-navigation {
    @include list-reset();
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: -$spacing-inline-m;

    &__item {
        margin-left: $spacing-inline-m;
        position: relative;

        &:before {
            background: $color-brand-primary-base;
            bottom: 0;
            content: '';
            height: $border-size-base;
            left: 0;
            opacity: 0;
            position: absolute;
            transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
            width: 100%;
        }

        &:hover:before {
            bottom: -5px;
            opacity: 1;
        }

        &.is-active {
            font-weight: bold;

            &:before {
                bottom: -5px;
                opacity: 1;
            }
        }
    }

    &__anchor {
        color: $color-brand-primary-base;
        text-decoration: none;
    }
}

.c-mobile-nav-toggle {
    margin-right: 4px;

    @media (min-width: $layout-breakpoint-s) {
        margin-right: 18px;
    }
}

.c-top-category-tab-nav {
    @include list-reset();
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: $spacing-inset-m $layout-edge-width;
    width: 100%;

    // Fix: List Reset only because of markdown styles
    .c-top-category-tab-nav__item {
        @include list-reset();
        cursor: pointer;

        &.is-active {
          border-bottom: 2px solid;
          font-weight: bold;
        }
    }

    // Fix because of markdown class
    .c-markdown & {
      margin-left: 0;
    }
}

.c-mobile-navigation__scrollcontainer {
    transition: 0.3s ease-out;
    width: 100%;
}

.c-navigation__tree {
    margin-top: $spacing-stack-m;
    opacity: 0;
    transition: opacity 600ms, visibility 600ms;
    visibility: hidden;
    left: 100%;
    position: absolute;
    top: 0;
    width: 100%;
}

.c-navigation__tree--level-0 {
    left: 0;
}

// .c-navigation__tree--level-0 > .c-navigation__list > .c-navigation__item > a {
//     font-weight: bold;
//     text-transform: uppercase;
// }

.c-navigation__item--active > .c-navigation__tree,
.c-mobile-navigation__scrollcontainer > .c-navigation__tree {
    opacity: 1;
    visibility: visible;
}


.c-navigation__item {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding-left: $layout-edge-width;
    padding-right: $layout-edge-width;
    font-weight: normal;
    text-transform: none;
}

.c-navigation__next-level-button {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-right: 0;
    width: 35px;
    height: 100%;
    cursor: pointer;
}

.c-mobile-navigation__header {
    align-items: flex-end;
    display: flex;
    height: 130px;
    padding: $spacing-inset-m;
    position: relative;
    color: $color-palette-white;;
    font-family: $font-family-spot;
    text-align: center;
    text-transform: uppercase;
}

.c-mobile-navigation__header-back-button {
    top: 8px;
    left: 8px;
    position: absolute;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
