// Config
$colorswatch-item-size: 44px !default;
$colorswatch-item-border-color: $border-color-base !default;
$colorswatch-item-active-border-color: $color-brand-primary-base !default;

// Component
// @todo: Remove the background-color here and make it dynamic
.c-colorswatch__item {
  cursor: pointer;
  display: block;
  height: $colorswatch-item-size;
  width: $colorswatch-item-size;
  border: 1px solid $colorswatch-item-border-color;
  border-radius: $border-radius-rounded;
  background-color: $color-brand-primary-base;
  box-shadow: inset 0 0 0 2px $color-palette-white;
  transition: all .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);

  &:hover,
  &.is-active {
    border-color: $colorswatch-item-active-border-color;
  }
}