// Config

/// @component Checkbox
/// @group form
.c-form-checkbox {
  display: inline-block;
  position: relative;

  &.is-active {
    .c-form-checkbox__backdrop {
      border-color: $color-brand-secondary-base;
    }
    .c-form-checkbox__icon {
      opacity: 1;
    }
  }
}

.c-form-checkbox__input {
  cursor: pointer;
  height: 100%;
  margin: 0;
  padding: 0;
  opacity: 0;
  position: absolute;
  width: 100%;
  -webkit-appearance: none;
  z-index: $index-layer-checkbox-input;

  &:checked ~ .c-form-checkbox__backdrop {
    border-color: $color-brand-secondary-base;
  }
  &:checked ~ .c-form-checkbox__icon {
    opacity: 1;
  }
}

.c-form-checkbox__backdrop {
  cursor: pointer;
  display: block;
  height: 24px;
  width: 24px;
  @include border();
  border-radius: $border-radius-checkbox;
  background: $color-palette-unique-white;
  transition: all .3s cubic-bezier(.64,0,.35,1);
}

.c-form-checkbox__icon {
  height: 12px;
  left: 50%;
  opacity: 0;
  position: absolute;
  top: 50%;
  width: 12px;
  fill: $color-brand-secondary-base;
  transform: translate(-50%, -50%);
  transition: all .3s cubic-bezier(.64,0,.35,1);
}
