// @component Referal
.c-referal {
  align-items: center;
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  text-decoration: none;

  &:hover {
    color: $link-color-hover;
  }

  // Active Item includes a selected value
  &.is-active {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
.c-referal__body {
  padding-right: $spacing-inline-m;
}
.c-referal__icon {
  flex-shrink: 0;
}
.c-referal__offset {
  align-items: center;
  display: grid;
  grid-template-columns: 1fr auto;
}

// @component Referal
// @variation One-Liner
.c-referal--one-liner {
  .c-referal__body {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

// @component Referal
// @variation Bordered
.c-referal--bordered {
  padding: $spacing-inset-m 0;
  border-bottom: 1px solid $border-color-base;
  border-top: 1px solid $border-color-base;
  text-transform: uppercase;

  .c-referal__body {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  & + .c-referal--bordered {
    border-top: 0;
  }
}