// Config

/// Chip
/// @group chips
.c-chip {
  align-items: center;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  //justify-content: space-between;
  padding: $spacing-squish-m;
  @include border();
  color: $color-brand-primary-base;
  //line-height: 1;
  //transition: all .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);

  &:hover {
    border-color: $color-brand-primary-lighter;
    background-color: $color-brand-primary-lighter;
  }

  // Active Chip
  &.is-active {
    border-color: $color-brand-primary-base;
    background-color: $color-brand-primary-base;
    color: $color-palette-white;

    .c-chip__trigger {
      color: $color-palette-white;
    }
  }

  &__trigger {
    cursor: pointer;
    margin-left: $spacing-inline-m;
    line-height: 0;
  }
}

// Small Chip
.c-chip--small {
  padding: $spacing-squish-s;
}

// Squared Chip
.c-chip--squared {
  padding: $spacing-inset-m;
}

// Selected Chip
.c-chip--selected {
  cursor: default;
}

// Content Width Chip
.c-chip--content-width {
  white-space: nowrap;
}