// Config
$icons: (
  xs: 12px,
  s: 16px,
  m: 24px,
  l: 48px,
  xl: 60px,
  xxl: 92px
) !default;

$icon-size-default: map-get($icons, m) !default;

/// Icon
/// @group Icons
.c-icon {
  display: inline-block;
  fill: currentColor;
  height: $icon-size-default;
  stroke-width: 0;
  stroke: currentColor;
  vertical-align: baseline;
  width: $icon-size-default;
}

/// Icon Map
/// @group Icons
@each $size, $value in $icons {
  .c-icon--#{$size} {
    height: $value;
    width: $value;
  }
}

.c-icon-circle {
  height: $icon-size-default; 
  position: relative;
  width: $icon-size-default;
  border-radius: $border-radius-rounded;
  background: $color-palette-white;
  color: $color-brand-primary-base;
}

.c-icon-circle__icon {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

 @each $size, $value in $icons {
  .c-icon--circle-#{$size} {
    height: $value;
    width: $value;
  }
}

.c-icon--outline {
  fill: none;
}