/// Main Title
/// @group headings
.c-title {
  font-family: $font-family-spot;
  font-size: $font-size-xl;
  line-height: 1.2;

  @media (min-width: $layout-breakpoint-s) {
    font-size: $font-size-xxl;
  }
  @media (min-width: $layout-breakpoint-xl) {
    font-size: $font-size-xxxl;
  }
}

/// Different Levels of Titles
/// @group headings
.c-title-level-1,
.c-title-level-2,
.c-title-level-3,
.c-title-level-4 {
  font-family: $font-family-spot;
  font-weight: bold;
  line-height: 1.2;
}

/// Level One Title
/// @group headings
.c-title-level-1 {
  font-size: $font-size-xxl;
}

/// Level Two Title
/// @group headings
.c-title-level-2 {
  font-size: $font-size-xl;
}

/// Level Three Title
/// @group headings
.c-title-level-3 {
  font-size: $font-size-l;
}

/// Level Four Title
/// @group headings
.c-title-level-4 {
  font-size: $font-size-m;
}