.c-page-foot {
    background: #31333e;
    // default text color
    color: rgba(255, 255, 255, 0.8);
    margin-top: 32px;
    padding-top: 12px;
    padding-bottom: 16px;
    strong {
        color: white;
    }
    a {
        text-decoration: none;
    }
    @include breakpoint($layout-breakpoint-l) {
        margin-top: 74px;
        padding-top: 18px;
    }
    // TODO
    font-family: $font-family-spot;
    h2 {
        color: white;
    }

    .c-store-feature__list {
        padding-top: 0;
    }
}

.c-page-footer__contact-email {
    // NOTE: 12px couldn't be done with the regular distances.
    margin-top: 12px;
}
.c-page-footer__phone-icon {
    font-size: 22px;
    margin-right: 9px;
    path {
        fill: rgba(255, 255, 255, 0.8);
    }
}

.c-page-footer__link-list {
    margin-bottom: 96px;
}

.c-page-footer__payment-methods {
    font-size: 38px;

    rect {
        fill: white;
    }
    path,
    circle {
        fill: #31333e;
    }
}

.c-page-footer__meta-nav {
    width: 100%;
    justify-content: flex-end;
}

.c-page-footer__social-links {
    font-size: 20px;
    path {
        fill: rgba(255, 255, 255, 0.8);
    }
}
