// Config

/// Sequential Navigation
/// @group Navigations
.c-sequential-navigation {
  display: flex;

  &__list {
    @include list-reset();
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: auto;
    width: 100%;

    &::-webkit-scrollbar {
      display: none;
    }

    @media (min-width: $layout-breakpoint-l) {
      flex-direction: column;
      flex-wrap: wrap;
      overflow: initial;
    }
  }
  &__list__item {
    margin-left: $spacing-inline-m;

    @media (min-width: $layout-breakpoint-l) {
      margin-left: 0;
      margin-top: $spacing-stack-m;
    }

    &:first-child {
      margin-left: 0;
    }
  }

  &__anchor {
    display: block;
    padding: $spacing-squish-m;
    border-radius: $border-radius-rounded;
    background: $color-brand-primary-gradation;
    color: $color-brand-primary-base;
    line-height: 1;
    white-space: nowrap;
    text-decoration: none;
    transition: all .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);

    @media (min-width: $layout-breakpoint-l) {
      align-items: center;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 0;
      border-radius: 0;
      background: transparent;
      color: $font-color-primary;
      white-space: normal;
    }

    &:hover,
    &.is-active {
      background-color: $color-brand-primary-base;
      color: $color-palette-unique-white;

      @media (min-width: $layout-breakpoint-l) {
        background-color: transparent;
        color: $link-color-hover;
      }
    }

    .c-icon {
      display: none;

      @media (min-width: $layout-breakpoint-l) {
        display: block;
      }
    }

    &.is-active {
      font-weight: bold;
    }
  }

  &__subnav {
    @include list-reset();
    display: none;

    @media (min-width: $layout-breakpoint-l) {
      margin-bottom: $spacing-stack-m;
      margin-left: $spacing-inline-m;
      margin-top: $spacing-stack-m;
    }

    &.is-active {
      display: block;
    }
  }
}