$gallery-thumb-bar-item-width: 64px !default;

/// Gallery
/// @group Gallery
.c-gallery {
  position: relative;

  .tns-nav {
    /* implementing slider,
     * hiding empty div from the plug in */
    display: none;
  }

  &__control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    &--prev {
      left: $spacing-inset-m;
    }
    &--next {
      right: $spacing-inset-m;
    }
  }
  &__spot-area {
    position: relative;

    img {
      display: block;
      width: 100%;
    }
  }
}

.c-gallery-thumb-bar {
    display: none;

    @media (min-width: $layout-breakpoint-m) {
      @include list-reset();
      bottom: $spacing-inset-m;
      display: flex;
      flex-direction: row;
      left: $spacing-inset-m;
      margin-top: $spacing-stack-m;
      margin-top: 0;
      
      z-index: $index-layer-gallery-thumb-bar;
    }

    &__item {
      cursor: pointer;
      margin-left: $spacing-inline-m;
      overflow: hidden;
      position: relative;
      width: $gallery-thumb-bar-item-width;
      @include transition;

      &:before {
        content: '';
        bottom: -5px;
        display: block;
        height: 5px;
        left: 0;
        position: absolute;
        width: 100%;
        background: $color-brand-secondary-base;
        @include transition;
        will-change: bottom;
      }

      &:hover {
          transform: scale(.9);
      }

      &:first-child {
          margin-left: 0;
      }

      &.is-active {
          &:before {
              bottom: 0;
          }
      }
    }
}