// Config

// Component
.c-price {
  font-weight: $font-weight-bold;
  white-space: nowrap;
}
.c-price--old {
  font-weight: $font-weight-base;
  text-decoration: line-through;
}
.c-price--highlight {
  color: $color-semantic-danger-base;
}