// Config
$topic-font-family: $font-family-spot-light !default;

// Topic
.c-topic {
  font-family: $topic-font-family;
  font-size: $font-size-m;
  font-weight: $font-weight-light;
  line-height: 1.1;

  @include breakpoint($layout-breakpoint-s) {
    font-size: $font-size-l;
  }
  
  @include breakpoint($layout-breakpoint-l) {
    font-size: $font-size-xl;
  }
}