// Config
$bubble-size: 18px !default;
$bubble-background-color: $color-semantic-success-base !default;
$bubble-font-color: $color-palette-white !default;

/// @name Bubble
/// @description Bubble with single important information like a counter or an indicator
.c-bubble {
  align-items: center;
  background: $bubble-background-color;
  border: 2px solid white;
  border-radius: $border-radius-rounded;
  color: $bubble-font-color;
  display: flex;
  font-size: $font-size-xs;
  font-weight: $font-weight-bold;
  height: $bubble-size;
  justify-content: center;
  line-height: 0;
  text-align: center;
  width: $bubble-size;
}
