// Config
$rating-font-color: $color-palette-gray-500 !default;
$rating-active-font-color: $color-palette-orange-600 !default;

/// Rating
.c-rating {
  &__symbol {
    stroke: currentColor;
    stroke-width: 2px;
    color: $rating-active-font-color;

    &.is-active {
      fill: currentColor;
      stroke: none;
    }
  }
}