$page-foot-background-color: $color-palette-gray-900 !default;
$page-foot-font-color: $color-palette-gray-200 !default;

.c-page-foot {
    margin-top: $spacing-stack-l;
    padding: $spacing-inset-l 0 $spacing-inset-m;
    background: $page-foot-background-color;
    color: $page-foot-font-color;
    font-family: $font-family-spot;
    text-align: center;

    @include breakpoint($layout-breakpoint-l) {
        text-align: left;
    }

    a {
        text-decoration: none;
    }
}

// Payment Icons
.c-page-footer__payment-methods {
    font-size: 36px;
    line-height: 0;

    rect {
        fill: $color-palette-white;
    }
    path,
    circle {
        fill: $color-palette-gray-900;
    }
}

// Small Bottom Nav
.c-page-footer__meta-nav {
    justify-content: center;
    width: 100%;

    @include breakpoint($layout-breakpoint-l) {
        justify-content: flex-end;
    }
}

//  Social Icons
.c-page-footer__social-links {
    font-size: 24px;

    @include breakpoint($layout-breakpoint-l) {
        font-size: 16px;
    }
    
    path {
        fill: $color-palette-gray-400;
    }
}
