
// @name Font Family
// @description Handle different type of families
$font-family-base: Helvetica, sans-serif !default;
$font-family-spot: Roboto Condensed, sans-serif !default;
$font-family-spot-light: Roboto Condensed Light, sans-serif !default;

// @name Line Height
// @description 
$font-line-height-base: 1.45 !default;

// @name Font Size
// @description Available options for using font sizes
$font-size-xxs: 1rem !default;
$font-size-xs: 1.5rem !default;
$font-size-s: 1.8rem !default;
$font-size-m: 2.1rem !default;
$font-size-l: 2.4rem !default;
$font-size-xl: 3rem !default;
$font-size-xxl: 3.6rem !default;
$font-size-xxxl: 4.8rem !default;

// @name Font Size Body (REM)
// @description Global font size on something like body or html tag (REM Value)
$font-size-base: 1.8rem !default;

// @name Font Size Body (Pixel)
// @description Catwalk use a concept by handling sizes with rem values. Please use a pixel value for the body element here.
$font-size-body: 18px !default;

// @name Titles
// @description  Different sizes for titles
$font-size-alpha: 3rem !default;
$font-size-beta: 2.4rem !default;
$font-size-gamma: 2.4rem !default;
$font-size-delta: 1.8rem !default;
$font-size-title: 3rem !default;

// @name Subtitle
// @description Important message, but not so important like a title
$font-size-subtitle: 3rem !default;
$font-color-subtitle: $color-palette-gray-500 !default;

// @name Meta
// @description For something like sitenotes. Not so important content
$font-size-meta: 1.2rem !default;
$font-color-meta: $color-palette-gray-500 !default;

// @name Weight
// @description Available options for weights
$font-weight-light: 200 !default;
$font-weight-base: 400 !default;
$font-weight-bold: 700 !default;

// @name Color
// @description Available Colors for fonts
$font-color-primary: $color-palette-gray-900 !default;
$font-color-secondary: $color-palette-gray-500 !default;
$font-color-tertiary: $color-palette-gray-300 !default;
$font-color-quaternary: $color-palette-gray-200 !default;
$font-color-ghost: $color-palette-white !default;