// @name Color Palette
// @description Basic palette of all available colors
$color-palette-white: #fff !default;
$color-palette-black: #000 !default;
$color-palette-blue-100: #ebecfe !default;
$color-palette-blue-400: #898ef7 !default;
$color-palette-blue-600: #3a42f1 !default;
$color-palette-green-200: #f5fcf1 !default;
$color-palette-green-400: #98e076 !default;
$color-palette-red-200: #faeaea !default;
$color-palette-red-400: #e07676 !default;
$color-palette-red-600: #E93F30 !default;
$color-palette-orange-200: #fff7dc !default;
$color-palette-orange-400: #ffe274 !default;
$color-palette-orange-600: #ffce18 !default;
$color-palette-gray-100: #f6faff !default;
$color-palette-gray-200: #f1f6fc !default;
$color-palette-gray-300: #d8e0ec !default;
$color-palette-gray-400: #c5cdd7 !default;
$color-palette-gray-500: #8c9bb0 !default;
$color-palette-gray-600: #697587 !default;
$color-palette-gray-700: #424f62 !default;
$color-palette-gray-800: #313E51 !default;
$color-palette-gray-900: #192333 !default;

// @name Color Brand
// @description The key colors for your brand and making the platform more personal
$color-brand-primary-base: $color-palette-blue-600 !default;
$color-brand-primary-light: $color-palette-blue-400 !default;
$color-brand-primary-lighter: $color-palette-blue-100 !default;

$color-brand-secondary-base: $color-palette-orange-600 !default;
$color-brand-secondary-light: $color-palette-orange-400 !default;
$color-brand-secondary-lighter: $color-palette-orange-200 !default;

// @name Color Semantic
// @description Meaningful colors for something like error or success messages
$color-semantic-success-base: $color-palette-green-400 !default;
$color-semantic-success-light: $color-palette-green-200 !default;
$color-semantic-danger-base: $color-palette-red-600 !default;
$color-semantic-danger-light: $color-palette-red-200 !default;