// @name Breakpoint
// @description A list of all available breakpoints
$layout-breakpoint-s: 480px !default;
$layout-breakpoint-m: 600px !default;
$layout-breakpoint-l: 767px !default;
$layout-breakpoint-xl: 1023px !default;
$layout-breakpoint-xxl: 1160px !default;