// @name Form Input
// @description Options for standard form inputs and textareas
$form-input-color-background: $color-palette-white !default;
$form-input-color-placeholder: $color-palette-gray-300 !default;
$form-input-color-disabled: $color-palette-gray-500 !default;

// @name Form Label
// @description Options for standard form labels
$form-label-color-base: $color-palette-gray-700 !default;
$form-label-weight: 400 !default;
$form-label-size: $font-size-s !default;

// @name Form Legend
// @description Options for standard form legends
$form-legend-weight: 700 !default;