// @name Layout Wrapper Width
// @description The default wrapper width for the container of your page
$layout-wrapper-width: 1000px !default;

// @name Layout Wrapper Width Medium
// @description The medium wrapper width for the container of your page
$layout-wrapper-width-medium: 640px !default;

// @name Layout Wrapper Width Small
// @description The small wrapper width for the container of your page
$layout-wrapper-width-small: 480px !default;

// @name Layout Gutter Width
// @description The width between columns in the grid system
$layout-gutter-width: 16px !default;

// @name Layout Edge Width
// @description The distance to the left and right edges of the browser window
$layout-edge-width: 16px !default;

// @name Layout Columns
// @description The number of columns in the grid system
$layout-columns: 12 !default;