
// @name Divider
// @description Quiet Separation different type of sections
$divider-base-color-background: #d8e0ec;
$divider-base-height: 1px;

// @name Divider Break
// @description Loud Separation of different type of sections
$divider-break-color-background: #f6faff;
$divider-break-height: 5px;