// @name Link
// @description Options for the standard link
$link-color-base: #3a42f1;
$link-color-hover: #898ef7;

// @name Quiet Link
// @description Options for the quiet (secondary) link
$link-color-quiet-base: #8c9bb0;
$link-color-quiet-hover: [object Object];