$font-family-base: Helvetica, sans-serif;
$font-family-handwritten: Lust, serif;
$font-family-spot: Roboto Condensed, sans-serif;
$font-family-spot-light: Roboto Condensed Light, sans-serif;
$font-line-height-base: 1.45;
$font-size-xxs: 1rem;
$font-size-xs: 1.2rem;
$font-size-s: 1.5rem;
$font-size-m: 1.8rem;
$font-size-l: 2.4rem;
$font-size-xl: 3rem;
$font-size-xxl: 3.6rem;
$font-size-xxxl: 4.8rem;
$font-size-base: 1.8rem;
$font-size-body: 18px; /* Catwalk use a concept by handling sizes with rem values. Please use a pixel value for the body element here. */
$font-size-alpha: 3rem;
$font-size-beta: 2.4rem;
$font-size-gamma: 2.4rem;
$font-size-delta: 1.8rem;
$font-size-title: 3rem;
$font-size-subtitle: 3rem;
$font-size-meta: 1.2rem;
$font-weight-light: 200;
$font-weight-base: 400;
$font-weight-bold: 700;

$font-color-primary: #424f62;
$font-color-secondary: #8c9bb0;
$font-color-tertiary: #d8e0ec;
$font-color-quaternary: #f1f6fc;
$font-color-ghost: #ffffff;
$font-color-meta: #8c9bb0;
$font-color-subtitle: #8c9bb0;