// @name Color Palette
// @description Basic palette of all available colors
// @deprecated
$color-palette-unique-white: #ffffff !default;
$color-palette-unique-black: #000000 !default;
$color-palette-blue-lighter: #ebecfe !default;
$color-palette-blue-light: #898ef7 !default;
$color-palette-blue-base: #3a42f1 !default;
$color-palette-green-light: #f5fcf1 !default;
$color-palette-green-base: #98e076 !default;
$color-palette-orange-lighter: #fff7dc !default;
$color-palette-orange-light: #ffe274 !default;
$color-palette-orange-base: #ffce18 !default;
$color-palette-gray-lightest: #f6faff !default;
$color-palette-gray-lighter: #f1f6fc !default;
$color-palette-gray-light: #d8e0ec !default;
$color-palette-gray-base: #8c9bb0 !default;
$color-palette-gray-dark: #424f62 !default;

// @new version of color handling (use this)
$color-palette-blue-100: #ebecfe !default;
$color-palette-blue-400: #898ef7 !default;
$color-palette-blue-600: #3a42f1 !default;
$color-palette-green-200: #f5fcf1 !default;
$color-palette-green-400: #98e076 !default;
$color-palette-red-200: #faeaea !default;
$color-palette-red-400: #e07676 !default;
$color-palette-orange-200: #fff7dc !default;
$color-palette-orange-400: #ffe274 !default;
$color-palette-orange-600: #ffce18 !default;
$color-palette-gray-100: #f6faff !default;
$color-palette-gray-200: #f1f6fc !default;
$color-palette-gray-300: #d8e0ec !default;
$color-palette-gray-400: #c5cdd7 !default;
$color-palette-gray-500: #8c9bb0 !default;
$color-palette-gray-600: #697587 !default;
$color-palette-gray-700: #424f62 !default;
$color-palette-gray-800: #313E51 !default;
$color-palette-gray-900: #192333 !default;


// @name Color Brand
// @description The key colors for your brand and making the platform more personal
$color-brand-primary-base: $color-palette-blue-base !default;
$color-brand-primary-gradation: $color-palette-blue-light !default;
$color-brand-primary-pastel: $color-palette-blue-lighter !default;
$color-brand-secondary-base: $color-palette-orange-base !default;
$color-brand-secondary-gradation: $color-palette-orange-light !default;
$color-brand-secondary-pastel: $color-palette-orange-lighter !default;

// @name Color Layout
// @description For Usage of backgrounds, font colors etc.
$color-layout-ghost-base: $color-palette-unique-white !default;
$color-layout-ghost-gradation: $color-palette-gray-base !default;
$color-layout-ghost-inverse: $color-palette-gray-dark !default;
$color-layout-universe-base: $color-palette-gray-dark !default;
$color-layout-universe-gradation: $color-palette-gray-base !default;
$color-layout-universe-pastel: $color-palette-gray-light !default;
$color-layout-universe-inverse: $color-palette-unique-white !default;
$color-layout-spot-base: $color-brand-primary-base !default;
$color-layout-spot-gradation: $color-brand-secondary-gradation !default;
$color-layout-spot-pastel: $color-brand-secondary-pastel !default;

// @name Color Semantic
// @description Meaningful colors for something like error or success messages
$color-semantic-success-base: $color-palette-green-400 !default;
$color-semantic-success-gradation: $color-palette-green-200 !default;
$color-semantic-danger-base: $color-palette-red-400 !default;
$color-semantic-danger-gradation: $color-palette-red-200 !default;