// @name Divider
// @description Quiet Separation different type of sections
$divider-base-color-background: $color-palette-gray-300 !default;
$divider-base-height: 1px !default;

// @name Divider Break
// @description Loud Separation of different type of sections
$divider-break-color-background: $color-palette-gray-100 !default;
$divider-break-height: 5px !default;