// @name Breakpoint
// @description A list of all available breakpoints
$layout-breakpoint-s: 480px;
$layout-breakpoint-m: 600px;
$layout-breakpoint-l: 767px;
$layout-breakpoint-xl: 1023px;
$layout-breakpoint-xxl: 1160px;