// @name Index
// @description A list of used indecies in this project

$index-layer-checkbox-input: 1 !default;
$index-layer-radio-input: 1 !default;
$index-layer-navigation: 10 !default;
$index-layer-navigation-megamenu: 15 !default;
$index-layer-gallery-thumb-bar: 1 !default;