.aspectRatioPromobox {
    height: 0;
    overflow: hidden;
    padding-top: 591.44px / 1127.34px * 100%;
    position: relative;
    background: linear-gradient(38.36deg, #000000 0%, rgba(196, 196, 196, 0) 106.19%)
}

.aspectRatioPromoboxInside{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.ribbon {
    width: 150px;
    height: 150px;
    overflow: hidden;
    position: absolute;
  }
  .ribbon::before,
  .ribbon::after {
    position: absolute;
    // z-index: -1;
    content: '';
    display: block;
    border: 6px solid #65377a;
  }
  .ribbon span {
    position: absolute;
    display: block;
    width: 225px;
    padding: 15px 0;
    background-color: #b40270fa;
    box-shadow: -5px 5px 2px 3px rgba(0, 0, 0, 0.1);
    color: #fff;
    font: 700 16px/1 "Lato", sans-serif;
    text-shadow: 0 1px 1px rgba(0,0,0,.2);
    text-transform: uppercase;
    text-align: center;
  }
.ribbonTopRight {
    top: -10px;
    right: -10px;
}
.ribbonTopRight::before,
.ribbonTopRight::after {
  border-top-color: transparent;
  border-right-color: transparent;
}
.ribbonTopRight::before {
  top: 0;
  left: 2px;
}
.ribbonTopRight::after {
  bottom: 0;
  right: -2px;
}
.ribbonTopRight span {
  left: -25px;
  top: 30px;
  transform: rotate(45deg);
}

@media (max-width: 830px) {
  .ribbon span{
    font: 600 12px/1 "Lato", sans-serif;
    box-shadow: none;
  }
  .ribbonTopRight span {
    left: -6px;
    top: 20px;
  }
  .ribbonTopRight::before {
    top: 0;
    left: 36px;
  }
  .ribbonTopRight::after {
    bottom: 35px;
    right: -1px;
  }
} 