.registerCheckBoxFont {
    font-size: 14px;
}

.registerCheckBoxMarg {
    margin-top: 10px;
}

.registerMaxWidth {
    max-width: 500vh !important;
}

.registerBorder {
    margin-left: 0px !important;
}