// Config

// Frame
.c-frame {
  display: block;
  padding: $spacing-inset-m;
  @include border();
}
.c-frame--s {
  padding: $spacing-inset-s;
}
.c-frame--l {
  padding: $spacing-inset-l;
}
.c-frame--xl {
  padding: $spacing-inset-xl;
}