// Config
$sticker-background-color: $color-semantic-danger-base !default;
$sticker-font-color: $color-palette-unique-white !default;
$sticker-size-width: 56px !default;

// Component
.c-sticker {
  align-items: center;
  display: flex;
  height: $sticker-size-width;
  justify-content: center;
  width: $sticker-size-width;
  border-radius: $border-radius-rounded;
  background: $sticker-background-color;
  color: $sticker-font-color;
  font-family: $font-family-handwritten;
  font-style: italic;
  font-weight: $font-weight-bold;
  text-align: center;
}