// Config
$colorswatch-item-size: 36px !default;
$colorswatch-item-small-size: 28px !default;
$colorswatch-item-border-color: $color-palette-unique-white !default;
$colorswatch-item-active-shadow: 0 0 0 1px $color-brand-primary-base !default;

// Component
// @todo: Remove the background-color here and make it dynamic
.c-colorswatch__item {
  cursor: pointer;
  display: block;
  height: $colorswatch-item-size;
  width: $colorswatch-item-size;
  border: $border-size-base solid $colorswatch-item-border-color;
  border-radius: $border-radius-rounded;
  background-color: $color-brand-primary-base;
  transition: all .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);

  &:hover,
  &.is-active {
    box-shadow: $colorswatch-item-active-shadow;
  }
}
.c-colorswatch__item--small {
  height: $colorswatch-item-small-size;
  width: $colorswatch-item-small-size;
}