.paymentMethodsList {
    font-size: 38px;

    rect {
        fill: white;
    }
    path,
    circle {
        fill: #31333e;
    }
}

.socialList {
    font-size: 20px;
    path {
        fill: rgba(255, 255, 255, 0.8);
    }
}
