.desktopButton {
  span {
    display: flex;
    align-items: center;

    .arrow {
      width: 12px;
      height: 7px;
      margin-left: 13px;
      fill: #3A42F1;
      stroke: #3A42F1;
    }
  }
}


.sustainabilityFilter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  margin-left: 10px;
  height: 56px;
  cursor: pointer;
}

.boundless {
  margin-left: -16px;
  width: calc(100% + 32px);
}


.itemsWrapper {
  display: grid;
  grid-auto-flow: row;
  grid-template-rows: repeat(auto-fill, 40px);
  grid-gap: 12px;
  align-items: center;
}

.listDropDownItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  height: 40px;

  border: 1px solid #DDE4EF;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 0 12px;
}

.listDropDownItemActive {
  fill: #FFCE18;
  color: #FFCE18;
  border-color: #FFCE18;
}

.plainListDropDownItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  height: 40px;

  border: 1px solid #DDE4EF;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 0 12px;
  margin-bottom: 12px;
}

.plainListDropDownItemActive {
  fill: #FFCE18;
  color: #FFCE18;
  border-color: #FFCE18;
}


.groupName {
  height: 40px;
  align-items: center;
  display: flex;
  margin-left: 8px;
}

.margin10 {
  margin: 10px;
}

.marginTop24 {
  margin-top: 24px;
}

.marginTop12 {
  margin-top: 12px;
}

.dropdownScrollbars {
  height: 240px !important;
  margin-top: 8px;
  margin-bottom: 24px;
}

.sortFilterScrollbars {
  height: 198px !important;
  margin-top: 8px;
  margin-bottom: 24px;
}


.dropdownFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #DDE4EF;
  padding: 20px 20px 0 20px;
  margin: 0 -18px;
}

.searchLabel {
  margin: 12px 12px 18px 0;
}

.resetButton {
  cursor: pointer;
}

.fromToInputStyle {
  margin: 8px 18px 24px
}

.sustainabilityFilterDesktop {
  display: flex;
  align-items: center;
  border: 2px solid #ebecfe;
  border-radius: 8px;
  background-color: transparent;
  color: #000000;
  text-transform: none;
  font-weight: normal;
  padding: 4px 16px;
  width: 204px;
  height: 38px;
  justify-content: space-between;
}
