@media (min-width: 640px) {
  .cartDesktop {
    display: grid;
    grid-template-columns: 63% 34%;
    justify-content: space-between;
  }

  .cartListing {
    padding: 18px;
    border-radius: 5px;
  }

  .cartSummaryDesktop {
    background: #F6F8FC;
    border-radius: 5px;
    padding: 16px;
    align-self: baseline;
    position: sticky;
    top: 16px;
    z-index: 1;
  }
}