html {
    box-sizing: border-box;
    background-color: $color-palette-white;
    font-size: $font-size-base;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

body {
    margin: 0;
    padding: 0;
    color: $font-color-primary;
    font-family: $font-family-base;
    //font-size: $font-size-body;
    //font-weight: $font-weight-base;
    //line-height: $font-line-height-base;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
