/* ==========================================================================
   #REGION
========================================================================== */

.e-region {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content:flex-start;
}

.e-region--hidden-hand {
    @media (max-width: $layout-breakpoint-l) {
        display: none;
    }
}

.e-region--hidden-lap {
    @media (min-width: $layout-breakpoint-l) and (max-width: $layout-breakpoint-xl) {
        display: none;
    }
}

.e-region--hidden-desk {
    @media (min-width: $layout-breakpoint-xl) {
        display: none;
    }
}
