/* ==========================================================================
   #TASTIC
========================================================================== */

.e-tastic--hidden-hand {
    @media (max-width: $layout-breakpoint-l) {
        display: none;
    }
}

.e-tastic--hidden-lap {
    @media (min-width: $layout-breakpoint-l) and (max-width: $layout-breakpoint-xl) {
        display: none;
    }
}

.e-tastic--hidden-desk {
    @media (min-width: $layout-breakpoint-xl) {
        display: none;
    }
}

.e-tastic {
    width: 100%;
}
