#frssrw {
    display: none;
}

.product-in-cart-amount {
    width: 60px;
}

.organism-my-orders {
    position: absolute;

    .mo-header {
        display: grid;
        grid-template-columns: 15% 70% 15%;
        justify-items: center;
        align-items: center;
        margin-bottom: 2px;
        padding: 20px 0 18px;
        background: white;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 23px;
        border-bottom: 2px #e5e5e5 solid;
    }

    .mo-canceled {
        border-bottom: 1px #e0e0e2 solid;
        margin-left: 10px;
        margin-right: 10px;
    }

    .mo-paid,
    .mo-canceled,
    .mo-consignor {
        padding: 0 12px;

        .mo-paid-title {
            font-weight: bold;
            background: white;
            text-align: center;
            padding-top: 10px;
        }

        .mo-paid-info {
            display: grid;
            grid-template-columns: 50% 50%;
            padding-top: 21px;
            padding-bottom: 26px;

            .mo-paid-detail {
                display: grid;
                grid-auto-flow: row;

                .mo-date {
                    font-size: 14px;
                    color: #98999f;
                }
            }

            .mo-badge {
                align-self: center;
                justify-self: end;
                width: 102px;
                height: 34px;
                font-size: 12px;
            }
        }

        .mo-tiles {
            display: flex;
            justify-content: center;
            align-items: center;

            .mo-tile {
                width: 60px;
                height: 60px;
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                border-radius: 4px;
                margin: 4px;
            }

            .mo-tile-count {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 60px;
                height: 60px;
                background: #f6f8fc;
                color: #3a42f1;
            }

            .mo-tiles-summary {
                display: flex;
                flex-flow: column;
                justify-content: center;
                font-size: 14px;
                color: #98999f;
            }
        }

        .mo-button-view-order {
            display: flex;
            margin: 24px auto;
        }

        .mo-button-view-order-secondary {
            display: grid;
            grid-template-columns: 55% 45%;
            align-items: center;
            font-style: normal;
            font-weight: bold;
            font-size: 16px;
            color: #3a42f1;
            padding-bottom: 24px;
        }

        .mo-canceled-info {
            padding-top: 26px;

            // same as .mo-tiles-summary
            display: flex;
            flex-flow: column;
            justify-content: center;
            font-size: 14px;
            color: #98999f;
        }
    }

    .mo-back {
        display: flex;
        justify-content: center;
        align-items: center;
        background: #f4f4f4;
        height: 67px;

        img {
            padding-right: 10px;
        }
    }
}


// PAGE SETTINGS
.user-select--disabled {
    -webkit-user-select: none; /* Safari 3.1+ */
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Standard syntax */
}